@model IEnumerable<Lab1.Models.Entities.Hotel>

@{
    ViewBag.Title = "SelectHotelToCreatTour";
}

<h2>SelectHotelToCreatTour</h2>

<p>
    @Html.RouteLink("Back to Direction", new { controller = "Directions", action = "SelectDirectionToSelectHotel" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Direction.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Direction.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.RouteLink("Select", new { controller = "Tours", action = "Create", idHotel = item.ID })
        </td>
    </tr>
}

</table>
