@model IEnumerable<Lab1.Models.Entities.TourOperator>

@{
    ViewBag.Title = "Index";
}

<h2>Список Туроператоров</h2>

<p>
    @Html.ActionLink("Созданоть нового", "Create")
</p>
<a>
    @Html.ActionLink("Load From API", "LoadFromAPI")
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniqCompanyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniqCompanyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
