@{
    ViewBag.Title = "Добро пожаловать на сайт туристического агетнства, разработанного студентом Ми ВлГУ";
}
<h2>Туристическое агентство Ми ВлГУ</h2>
<body>

    <div class="container body-content">
        <hr />
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#home">Информация о Ми ВлГУ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#profile">Наша история</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="home">
                <p>
                    Муромский институт Владимирского государственного университета (МИ ВлГУ) организован на базе УПК в 1957г. как филиал Всесоюзного заочного машиностроительного института (ВЗМИ, г. Москва).
                    В 1978г. филиал был передан Владимирскому политехническому институту, в составе которого в 1996г. Приказом Министра образования РФ №553 от 30 дек. 1996г.
                    Он становится Муромским институтом Владимирского государственного университета.
                </p>
            </div>
            <div class="tab-pane fade active show" id="profile">
                <p>
                    История развития Муромского института берет начало с исторического здания по ул. Л.Толстого, одной технической специальности, 20 студентов и нескольких преподавателей.
                    На сегодняшний день институт насчитывает 8 учебных корпусов общей площадью около 30 тыс.кв.м.
                    Имеется богатая библиотека с тремя читальными залами, мощная научно-техническая и компьютерная база.
                    Общежитие на 380 мест. Спортивно-оздоровительный комплекс. На 5-ти факультетах по 19-ти специальностям и специализациям обучаются 6,5 тыс. студентов. Подготовку студентов осуществляют 184 преподавателя, из них: 20 докторов наук, профессоров; 89 кандидатов наук, доцентов; 5 действительных членов академий наук России; 7 членов зарубежных академий.
                </p>
            </div>
        </div>
    </div>
    <div>
        <li>@Html.ActionLink("Виды", "Index", "Kinds")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Категории", "Index", "Categories")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Направления", "Index", "Directions")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Отели", "Index", "Hotels")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Сотрудники", "Index", "Employees")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Туорператоры", "Index", "TourOperators")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Туры", "Index", "Tours")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Клиенты", "Index", "Clients")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Путевки", "Index", "Vouchers")</li>
    </div>
</body>
