@model Lab1.Models.Entities.Tour

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить запись?</h3>
<div>
    <h4>Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kind.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kind.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourOperator.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourOperator.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffersAll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffersAll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayCount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Уалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернутьсья к списку", "Index")
        </div>
    }
</div>
