@model IEnumerable<Lab1.Models.Entities.Tour>

@{
    ViewBag.Title = "Index";
}

<h2>Список туров</h2>

<p>
    @Html.RouteLink("Создать новый", new { controller = "ToSelectForTour", action = "SelectDirection" })
</p>
<a>
    @Html.ActionLink("Load From API", "LoadFromAPI")
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kind.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourOperator.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OffersAll)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kind.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourOperator.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OffersAll)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayCount)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Подробнее", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
