@model IEnumerable<Lab1.Models.Entities.Tour>

@{
    ViewBag.Title = "SelectTourToCreateVoucher";
}

<h2>Выбарть тур</h2>

<p>
    @Html.RouteLink("Назад к путевкам", new { controller = "Vouchers", action = "Index" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kind.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourOperator.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OffersAll)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kind.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourOperator.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OffersAll)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayCount)
        </td>
        <td>
            @Html.RouteLink("Выбрать", new { controller = "Vouchers", action = "Create", idTour = item.ID })
        </td>
    </tr>
}

</table>
